@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap");
html {
  background-color: #000000;
  /* background by SVGBackgrounds.com */
  color: #ddd;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #788191;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
*, *::after, * before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before blockquote::after, blockquote::before q::after, q::before blockquote::after, q::before q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: seperate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: center;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7[type=checkbox] {
  vertical-align: baseline;
}

.ie6[type=checkbox] {
  vertical-align: text-bottom;
}

select, input, textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input[type=button] {
  width: auto;
  overflow: hidden;
}

.iey img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.libGal {
  display: grid;
  justify-content: center;
  grid-template-columns: 90%;
}
.libGal .gallery {
  background: #DFEEDD;
  color: #0e0d0d;
  border-radius: 2%;
  padding: 2rem;
  box-shadow: 5px 2px 15px #559e1a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.libGal .gallery img {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 1rem 1rem 0 0;
}
.libGal .gallery h2 {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #5aac17;
}
.libGal .gallery ul {
  margin-right: 1rem;
}
.libGal .gallery ul p {
  margin-bottom: 0.3rem;
  color: #5aac17;
  font-size: 1.25rem;
  font-weight: 550;
}
.libGal .gallery ul #alienSpecies {
  margin: 0 0 0.75rem 0;
}
.libGal .gallery ul #alienWorld {
  margin: 0 0 0.75rem 0;
}
.libGal .gallery ul #series {
  margin: 0 0 0.75rem 0;
}
.libGal .gallery ul .ableGrid {
  display: grid;
  grid-template-columns: 55% 55%;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.25rem;
}

@media only screen and (min-width: 650px) {
  .libGal {
    grid-template-columns: 35% 35%;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .libGal .gallery {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1050px) {
  .libGal {
    grid-template-columns: 45% 45%;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .libGal .gallery {
    margin-bottom: 0;
  }
  .libGal .gallery img {
    max-width: 400px;
    min-width: 400px;
  }
}
.searchFunction {
  background: #DFEEDD;
  color: #559e1a;
  border-radius: 2%;
  padding: 0.25rem;
  margin: 1rem 0 0.5rem 0;
}

.everything {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.everything h1 {
  color: #89eb2e;
  font-size: 2.575rem;
}
.everything #omni {
  width: 40%;
}/*# sourceMappingURL=main.css.map */